/* ----- Fonts ----- */

@font-face {
font-family: 'Myriad Pro Regular';
src: url('../fonts/MyriadPro-Regular.eot');
src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/MyriadPro-Regular.woff') format('woff'),
url('../fonts/MyriadPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

/* ----- Specification ----- */

body {
	font-family: 'Myriad Pro Regular';
	font-size: 16px;
	color: #505153;
	padding: 0;
	margin: 0;
}

div,p,ul,li,form,input,textarea,a,span,button {
	box-sizing: border-box;
}

ul,li,input,button {
	display: block;
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: 300;
}

h1 {
	font-size: 72px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-size: 56px;
	text-align: center;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
	text-transform: uppercase;
}

p {
	padding: 0;
	margin: 0;
    line-height: 1.3em;
}

.white__text {
	font-size: 18px;
	line-height: 1.8em;
	color: #fff;
	text-align: center;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
border: none;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.container {
	width: 1110px;
	margin: 0 auto;
}

/* ----- Header ----- */

.header {
	padding: 55px 0 381px;
	background: #202125 url(../img/bg-header.jpg)no-repeat center top / cover;
}

.navigation {
	align-items: center;
	justify-content: space-between;
}

.logo__link {
	font-size: 31px;
	color: #fff;
}

/* Menu Hamburger */

.menu-hamburger {
	position: relative;
	display: none;
}

.hamburger{
	background: none;
	position: absolute;
	top: 3px;
	right: 0;
	color: #fff;
	border: 0;
	font-size: 1.7em;
	cursor: pointer;
	outline: none;
	z-index: 10000000000000;
}

.cross {
	background: none;
	position: absolute;
	top: 3px;
	right: 0;
	color: #fff;
	border: 0;
	font-size: 1.9em;
	cursor: pointer;
	outline: none;
	z-index: 10000000000000;
}

.menu-burger { 
	z-index: 1000000;
	width: 100%;
	background: rgba(12, 11, 11, 0.9);
	position: absolute;
	top: 42px;
	right: 2px;
	text-align: center;
	border-radius: 0 0 8px 8px;
}

.menu-burger li {
	border-bottom: #8b8b8d 1px solid;
	font-family: 'Myriad Pro Regular';
	font-size: 18px;
	color: #505153;
}

.menu-burger li:last-child {
	border: none;
}

.menu-burger a {
	display: block;
	color: #fff;
	font-weight: bold;
	line-height: 3em;
}

.menu-burger a:focus {
	outline: none;
}

.menu-burger a:active {
	background: rgb(0,0,0);
}

.nav__item {
	margin-left: 50px;
}

.nav__link {
	font-size: 16px;
	color: #fff;
}

.nav__link:hover {
	color: #8b8b8d;
}

.offer__title {
	padding: 301px 0 26px;
}

.offer__text {
	width: 716px;
	margin: 0 auto;
	
}

/* ----- Section Story ----- */

.story {
	padding: 96px 0;
	background: #962323;
}

.story__wrap {
	align-items: center;
	justify-content: space-between;
}

.story__wrap img {
	display: block;
}

.story__title {
	color: #fff;
}

.story__title:after {
	content: "";
	display: block;
	width: 110px;
	height: 2px;
	background: #fff;
	margin: 14px auto 43px;
}

.story__text {
	width: 538px;
}

/* ----- Section Recipes ----- */

.recipes {
	padding: 112px 0;
	background: url(../img/bg-recipes.jpg)no-repeat center center / cover;
}

.recipes__title {
	color: #fff;

}

.recipes__title:after {
	content: "";
	display: block;
	width: 110px;
	height: 2px;
	background: #c8235d;
	margin: 14px auto 48px;
}

.recipes__text {
	width: 535px;
	margin: 0 auto;
}

/* ----- Section Menu ----- */

.menu {
	padding-top: 110px;
}

.menu__left,
.menu__right {
	width: 465px;
}

.menu__wrap {
	margin-top: 113px;
	justify-content: space-between;
}

.menu__title-wrap {
	justify-content: space-between;
}

.menu__main-title {
	color: #0b0c0d;
}

.menu__main-title:after {
	content: "";
	display: block;
	width: 110px;
	height: 2px;
	background: #c8235d;
	margin: 14px auto 43px;
}

.menu__title {
	margin-bottom: 18px;
}

.menu__text {
	margin-bottom: 57px;
}

.price {
	color: #c8235d;
	font-weight: bold;
	text-align: right;
}

.slider {
	margin: 40px auto 80px;
}

.slick-slide img {
	width: 100%;
}

.slick-prev:before,
.slick-next:before {
	display: none;
}

.slick-prev {
	height: 28px;
	left: -35px;
}

.slick-next {
	height: 28px;
	right: -35px;
}

.fa-angle-left:before,
.fa-angle-right:before {
	font-size: 30px;
	color: #8b8b8d;
}

.slick-prev,
.slick-next {
	transform: translateX(0px);
	transition: all 400ms;
}

.slick-prev:focus,
.slick-next:focus {
	outline: none !important;
}

.slick-prev:hover {
	transform: translateX(-5px);
}

.slick-next:hover {
	transform: translateX(5px);
}

button [type=button]:before {
	 display: none; 
}

.slick-dots {
	bottom: -42px;
}

.slick-dots li {
	width: 10px;
	height: 10px;
	margin-right: 20px;
	border-radius: 50%;
	background: #8b8b8d;
}

.slick-dots li:last-child {
	margin-right: 0;
}

.slick-dots li:hover {
	background: #fff;
	transition: all 0.5s ease;
}

/* ----- Footer ----- */

.footer {
	margin-top: -30px;
}

.top-footer {
	background: #25262a;
}

.top-footer__wrap,
.bottom-footer__wrap {
	padding-right: 25px;
	justify-content: space-between;
}

.top-footer__wrap {
	font-size: 15px;
	color: #fff;
	padding-top: 90px;
	padding-bottom: 71px;
}

.logo_footer {
	margin-bottom: 39px;
}

.column__title {
	margin-bottom: 43px;
}

.column-logo {
	margin-top: -12px;
}

.column__text {
	width: 265px;
	line-height: 1.7em;
}

.column__link,
.column-contact__link {
	display: block;
	color: #fff;
	margin-bottom: 15px;
}

.column-contact i {
	color: #c8235d;
	margin-right: 15px;
}

.column__link:hover,
.column-contact__link:hover {
	color: #8b8b8d;
}

.icon-tel,
.icon-adress,
.icon-mail {
	transition: all 400ms;
}

.column-contact_tel:hover .icon-tel,
.column-contact_adress:hover .icon-adress,
.column-contact_mail:hover .icon-mail {
	transform: translateX(5px);
}

.bottom-footer {
	font-size: 18px;
	padding: 58px 0 38px;
	background: #16171b;
}

.copyright__link {
	margin-left: 5px;
}

.footer-nav__item {
	margin-right: 25px;
}

.footer-nav__item:last-child {
	margin-right: 0;
}

.copyright__link,
.footer-nav__link,
.icons__link {
	color: #8b8b8d;
}

.copyright__link:hover,
.footer-nav__link:hover,
.icons__link:hover {
	color: #fff;
}

.icons__link {
	display: inline-block;
	margin-left: 18px;
}

.icons__link:first-child {
	margin-left: 0;
}

.icons__link:hover {
	transform: scale(1.2,1.2);
}

/* Scroll up button */

.to-top {
	text-align: center;
	position: fixed;
	bottom: 24px;
	right: 24px;
	cursor: pointer;
	display: none;
	color: rgba(139,139,141,0.7);
	font-size: 40px;
}

.to-top:hover {
	color: rgba(169,169,171,0.7);
}

/* ----- Media Queries ----- */

/* 992-1200px */

@media screen and (max-width: 1199px) {

	.container {
		width: 900px;
	}

	.story__wrap img {
		width: 400px;
	}
	
	.story__text {
		width: 473px;
	}

	.menu__left,
	.menu__right {
		width: 420px;
	}

	.slick-slide img {
		width: 379px;
	}

	.top-footer__wrap,
	.bottom-footer__wrap {
		padding-right: 0;
	}

	.bottom-footer {
		font-size: 16px;
	}
}

/* 768-992px */

@media screen and (max-width: 991px) {

	.container {
		width: 700px;
	}

	.nav__item {
		margin-left: 43px;
	}

	h1 {
		font-size: 68px;
	}

	h2 {
		font-size: 52px;
	}

	.story,
	.recipes {
		padding: 80px 0;
	}

	.story__wrap img {
		width: 360px;
	}

	.story__text {
		width: 316px;
	}

	.story__title:after,
	.recipes__title:after {
		margin-bottom: 30px;
	}

	.menu  {
		padding-top: 80px;
		padding-bottom: 0;
	}

	.menu__wrap {
		flex-direction: column;
	}

	.menu__left,
	.menu__right {
		width: 100%;
	}

	.slider {
		margin: 30px 0 60px;
	}

	.slick-track {
		height: 250px;
	}

	.slick-slide img {
		width: 328px;
	}

	.slick-prev {
		left: -27px;
	}

	.slick-next {
		right: -27px;
	}

	.column__text {
		width: 185px;
	}

	.bottom-footer {
		font-size: 13px;
	}

	.footer-nav__item {
		margin-right: 17px;
	}

	.icons__link {
		margin-left: 15px;
	}
}

/* 576-768px */

@media screen and (max-width: 767px) {

	.container {
		width: 500px;
	}

	.header {
		padding-bottom: 280px;
	}

	.menu-hamburger {
		display: block;
	}

	.menu-burger a {
		line-height: 2.8em;
	}

	.nav__list {
		display: none;	
	}

	.story,
	.recipes,
	.menu {
		padding-top: 55px;
	}

	.menu__wrap {
		margin-top: 50px;
	}

	.offer__title {
		font-size: 58px;
		padding-top: 240px;
	}

	.offer__text,
	.recipes__text {
		width: 100%;
	}

	.story__wrap img {
		display: none;
	}

	.story__text {
		width: 100%;
	}

	.slider {
		margin-right: 0;
	}

	.top-footer__wrap {
		padding-bottom: 40px;
	}

	.column-logo {
		display: none;
	}

	.bottom-footer {
		font-size: 15px;
		padding: 38px 0;
	}

	.bottom-footer__wrap {
		flex-direction: column;
    	align-items: center;
	}

	.footer-nav {
		margin: 20px 0;
	}
}

/* 320-576px */

@media screen and (max-width: 575px) {

	.container {
		width: 90%;
	}

	.header {
		padding: 30px 0 155px;
	}

	.offer__title {
		font-size: 33px;
		padding-top: 145px;
	}

	.offer__text {
		line-height: 1.5em;
	}

	h2 {
		font-size: 30px;
	}

	h4 {
		font-size: 22px;
	}

	h5 {
		font-size: 18px;
	}

	.story,
	.recipes,
	.menu {
		padding: 35px 0 50px;
	}

	.menu {
		padding-bottom: 0;
	}

	.slider {
		width: 88%;
    	margin: 15px auto 55px;
	}

	.slick-slide img {
		width: 456px;
	}

	.column-links {
		display: none;
	}

	.top-footer__wrap {
		flex-direction: column;
		align-items: center;
		font-size: 18px;
		text-align: center;
		padding-top: 80px;
	}

	.column-contact {
		justify-content: center;
	}

	.column-contact__link {
		margin-bottom: 20px;
	}

	.bottom-footer {
		font-size: 16px;
	}

	.footer-nav {
		display: none;
	}

	.copyright {
		margin-bottom: 15px;
	}

	#toTop {
		font-size: 40px;
		right: 14px;
		bottom: 21px;
	}
}