/* ----- Common styles ----- */

body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
}

h1,h2,h3,h4,h5 {
	font-family: "Montserrat Alternates";
}

h1 {
	font-size: 60px;
	font-weight: 500;
}

h2 {
	font-size: 36px;
	font-weight: 500;
}

h3 {
	font-size: 23px;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

h5 {
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
}

a {
	transition: all 0.5s ease;
}

.container {
	width: 1600px;
	margin: 0 auto;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.btn {
	display: block;
	font-size: 19px;
	height: 52px;
	color: #fff;
	letter-spacing: 0.07em;
	text-align: center;
	padding-top: 15px;
	background: #1074A4;
	border-radius: 10px;
	box-shadow: 0 3px 4px #717171;
}

.btn:active {
	box-shadow: none;
}

.btn:hover {
	background: #1592d0;
}

.separator {
	width: 1436px;
	margin: 0 auto;
	height: 1px;
	margin-bottom: 55px;
	background: #000;
}

.slick-prev:before,
.slick-next:before {
	display: none;
}